/* Hover tooltips */
.cover {
    position:relative;
}

.cover .cover-content {
    position:fixed;
    overflow: visible !important; 
    top:5px; /* - top padding */
    right:9999px; /* outside of viewport */
    width:150px;
    color:#fff;
    background:#333;
    -webkit-box-shadow:2px 2px 5px #aaa;
    -moz-box-shadow:2px 2px 5px #aaa;
    box-shadow:2px 2px 5px #aaa;
    z-index: 1;
    opacity:0;
}

.cover:hover .cover-content {
    right: 10px; /* show on the right side on mouse over */
}
